$fee-white: #FFFFFF;
$fee-bluesky: #D7E6E6;
$fee-cyan-light: #00ACB8;
$fee-cyan: #00A9B9;
$fee-cyan-dark: #344B4F;
$fee-gray: #344B4F;
$fee-dark: #303030;
$fee-background-light: #2B2B2B;
$fee-background-dark: #1D1F21;
$fee-gray-border: #707070;
