// COLORS
$fee-cyan: #00A9B9;
$fee-cyan-light: #00ACB8;
$fee-cyan-dark: #344B4F;
$fee-gray: #344B4F;
$fee-dark: #303030;
$fee-white: #FFFFFF;
$fee-black: #000000;
$fee-bluesky: #D7E6E6;
$fee-gray-border: #707070;
$fee-night-light: #2B2B2B;
$fee-night-dark: #1D1F21;
$fee-day-light: #FFFFFF;
$fee-day-dark: #E6E6E6;
$fee-gray-light: #E3E3E3;
$fee-gray-medium: #E0E0E0;

// DAY MODE
$fee-main-font: $fee-dark;
$fee-second-font: $fee-gray;
$fee-acc: $fee-cyan;
$fee-acc-light: $fee-cyan-light;
$fee-acc-dark: $fee-cyan-dark;
$fee-bg-light: $fee-day-light;
$fee-bg-dark: $fee-day-dark;
$fee-border: $fee-gray-border;
$fee-card-bg: $fee-gray-medium;
$fee-shadow: $fee-black;
$fee-menu-bg: $fee-gray-light;

//NIGHT MODE
$fee-main-font-night: $fee-white;
$fee-second-font-night: $fee-bluesky;
$fee-acc-night: $fee-cyan;
$fee-acc-light-night: $fee-cyan-light;
$fee-acc-dark: $fee-cyan-dark;
$fee-bg-light-night: $fee-night-light;
$fee-bg-dark-night: $fee-night-dark;
$fee-border-night: $fee-gray-border;
$fee-card-bg-night: $fee-dark;
$fee-shadow-night: $fee-white;
$fee-menu-bg-night: $fee-night-dark;

