.table-admin {
    border-spacing: 0;
    margin: 20px auto;
}

.table-content {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.index-0 {
    border-left: 1px solid black;
}

.header {
    background-color: #d0d0d0;
    border-top: 1px solid black;
}

.table-element {
    display: flex;
    align-items: center;
    width: 350px;
    padding: 10px 10px 10px 5px;

}

.header-text {
    margin-left: 5px;
}

