@import "../../styles/constants";

.technology-name {
  color: $fee-main-font;
  font-size: 2rem;
}

.technology-description {
  color: $fee-main-font;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
