@import "../../styles/constants";

.menu {
  .menu-icon {
    width: 2.5rem;
    margin: 1rem;

    &:hover {
      cursor: pointer;
    }

    &.hide {
      float: right;
    }
  }

  .hamburger-container {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    left: 99vw;
    width: 1vw;
  }

  .menu-content {
    z-index: 1;
    // background-image: linear-gradient(30deg, $fee-menu-bg, $fee-menu-bg - 50);
    background-color: $fee-menu-bg;
    color: $fee-main-font;
    transition: all 0.25s;
    position: fixed;
    left: 75vw;
    width: 25vw;
    height: 100vh;

    ul {
      padding: 1rem 2rem;
    }

    li {
      cursor: pointer;
      list-style-type: none;
      padding: 1rem;
      transition: all 0.25s;
      line-height: 2rem;
      border-radius: 5px;

      &:focus {
        outline: none;
      }

      &.active {
        font-weight: 700;
      }

      &.night-mode-option {
        background-color: rgba($color: #000000, $alpha: 0.1);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .on-off {
          font-weight: 700;
        }
      }
    }

    &.hidden {
      transform: translateX(100%);
    }
  }

  &.night-mode {
    .menu-content {
      // background-image: linear-gradient(30deg,$fee-menu-bg-night, $fee-menu-bg-night + 30);
      background-color: $fee-menu-bg-night;
      color: $fee-main-font-night;
    }
  }
}



