@import "../../styles/constants";

.input-format {
    display: flex;
    flex-flow: column;

    input {
      background-color: transparent;
      height: 2rem;
      border: 1px solid $fee-border;
      border-radius: 5px;
      font-size: 1rem;
      color: $fee-main-font;
      padding: 0.5rem;
      outline: none;

      &:focus {
        box-shadow: 0 0 1rem rgba($fee-shadow, 0.25);
      }
    }

    .label-input {
      margin-bottom: 8px;
      font-size: 1rem;
      font-weight: 600;
      color: $fee-second-font;
    }

  &.night-mode {
    input {
      border: 1px solid $fee-border-night;
      color: $fee-main-font-night;
      &:focus {
        box-shadow: 0 0 1rem rgba($fee-shadow-night, 0.25);
      }
    }
    .label-input {
      color: $fee-second-font-night;
    }
  }
}
