<div class="landing-page tree" [ngClass]="{'night-mode': (isNightMode$ | async)}">

  <app-header [headerInfo]="headerInfo"></app-header>
  <section>
    <!-- Main component -->
    <div class="tree">

      <div class="skill has-children">
        <p> FED - Road Map </p>
      </div>

      <div class="skill__branch">

        <div class="skill__branch__child">
          <!-- Key component -->

          <div class="skill has-children">
            <a> JS </a>
          </div>

          <div class="skill__branch">

            <div class="skill__branch__child">
              <div class="skill">
                <p> Angular </p>
              </div>
            </div>
            <div class="skill__branch__child">

              <div class="skill has-children">
                <p> React </p>
              </div>
              <div class="skill__branch">

                <div class="skill__branch__child">
                  <div class="skill">
                    <p> React/Redux </p>
                  </div>
                </div>


                <div class="skill__branch__child">
                  <div class="skill">
                    <p> React Hooks </p>
                  </div>
                </div>

              </div>
            </div>


            <div class="skill__branch__child">
              <div class="skill">
                <p> Vue </p>
              </div>
            </div>

          </div>

        </div>

        <div class="skill__branch__child">
          <!-- Key component -->

          <div class="skill has-children">
            <a> CSS </a>
          </div>

          <div class="skill__branch">

            <div class="skill__branch__child">

              <div class="skill">
                <p> BEM </p>
              </div>
            </div>

            <div class="skill__branch__child">
              <div class="skill">
                <p> SASS </p>
              </div>
            </div>

          </div>

        </div>

        <div class="skill__branch__child">
          <!-- Key component -->

          <div class="skill has-children">
            <a> HTML </a>
          </div>

          <div class="skill__branch">

            <div class="skill__branch__child">

              <div class="skill">
                <p> Semantic </p>
              </div>
            </div>

            <div class="skill__branch__child">
              <div class="skill">
                <p> Accessibility </p>
              </div>
            </div>

          </div>

        </div>

        <div class="skill__branch__child">
          <!-- Key component -->

          <div class="skill">
            <a> FED Core </a>
          </div>

        </div>

      </div>



    </div>
  </section>
</div>
