
<div [class]="classDrop" [ngClass]="{'night-mode': (isNightMode$ | async)}" class="dropdown-container">
  <div *ngIf="type == 'text' && !changeText" class="drop-btn-text show-cursor-pointer" (click)="showDown()">
    <div class="triangle-down"></div>
    <p class="brop-text">{{title}}</p>
  </div>

  <label *ngIf="changeText" class="label-drop" for="{{id}}">{{label}}</label>
  <div *ngIf="changeText" [class]="classInput" [ngClass] ="type" (click)="filterDrop('', true)" >
    <input type="text" id="{{id}}" autocomplete="off" class="input-text-drop" [(ngModel)]="title" (keyup)="keypres($event)" (ngModelChange)="filterDrop(title, false)" [disabled] = "disabledDrop">
    <div *ngIf="type !== 'tag'" class="triangle-container">
      <div  class="triangle-down show-cursor-pointer"></div>
    </div>
  </div>

  <div *ngIf="type == 'navbar'" class="drop-btn-circle show-cursor-pointer" (click)="showDown()">
      <a class="icon">
          <img src="../../assets/Acc_User_Interface_Off_Icon__hamburger_menu_white.png">
      </a>
  </div>

  <ul class="drop-list" *ngIf="show && !disabledDrop">
    <li *ngFor="let item of editList" class="drop-item" (click)="selectItem(item)">
      <p *ngIf="type != 'navbar'" class="brop-text">{{item.text}}</p>
      <button-link *ngIf="type == 'navbar'" [classButton]="'btn-not-format dropdown'" [text]=item.text [link]=item.value></button-link>
    </li>
  </ul>

  <tags *ngIf="type == 'tag'"
    [(list)]="tagsList"
    [editList]=true
    [tagClass]="'dropdown'"
  ></tags>

</div>
