@import "../../styles/constants";

.dropdown-container {
  input {
    background-color: transparent;
    border: 1px solid $fee-border;
    border-radius: 5px;
    font-size: 1rem;
    color: $fee-main-font;
    padding: 0.5rem;
    outline: none;

    &:focus {
      box-shadow: 0 0 1rem rgba($fee-shadow, 0.25);
    }
  }


  .dropdown-dashboard {
    right: 70px;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
    width: max-content;
    margin-top: 40px;
    position: absolute;
  }

  .drop-list{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .navbar {
    .drop-list{
        padding-right: 60px;
        margin-top: 90px;
    }
    .drop-item {
        padding: 0
    }
  }

  .form{
    .drop-btn-text {
        width: max-content;
        border: 1px solid;
        border-radius: 3px;
        background-color: #d5d2d2;
    }

    .input-text-drop {
        margin-right: 8px;
    }
  }

  .drop-btn-circle {
    box-shadow: 0px 2px 4px 2px rgba(76, 76, 76, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    z-index: 1;
    background-color: white;
  }


  .drop-btn {
    display: flex;
  }

  .icon {
    img {
        height: 40px;
        filter: invert(100%);
    }
  }

  .drop-item {
    color: $fee-main-font;
    padding: 5px;
    border-style: dotted;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.2s;


    &:hover {
      background-color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
  }

  &.text {
    .drop-btn-text {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .triangle-down {
          margin-right: 0.5rem
        }
    }
  }

  .triangle-container {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-table {
    .triangle-down {
        margin: 0.5rem;
    }
  }


  .dropdown-form {
    display: flex;
    flex-flow: column;

    .triangle-down {
        margin: 0.5rem;
    }

    .drop-list{
        width: 156px;
    }

    .drop-list {
      margin-top: 52px;
    }

  }

  .input-form.drop-btn-text.tag {
    background-color: transparent;

    .input-text-drop{
        width: 100%;
    }
  }

  .input-form {
    border-radius: 4px;
    display: flex;
    flex-flow: row;
    margin-top: 0.5rem;

    input {
      height: 2rem;
    }
  }

  .label-drop {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: $fee-second-font;
  }


  .input-text-drop {
    width: 100%;
  }

  .drop-disabled {
    .show-cursor-pointer {
        cursor: auto;
    }
  }

  .brop-text {
    text-align: left;
  }


  &.night-mode {
    input {
      border: 1px solid $fee-border-night;
      color: $fee-main-font-night;

      &:focus {
        box-shadow: 0 0 1rem rgba($fee-shadow-night, 0.25);
      }
    }

    .label-drop {
      color: $fee-second-font-night;
    }

    .drop-item {
      color: $fee-main-font-night;
      background-color: rgba(20, 20, 20, 0.9);
      transition: all 0.2s;


      &:hover {
        background-color: rgba(20, 20, 20, 1);
        cursor: pointer;
      }
    }
  }
}
