.leaf-detail {
    display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

    .proficiency-level {
        width: 100%;
      //   border: solid 2px green;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
      }
      .references {
        width: 100%;
      //   border: solid 2px blue;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      
        .cards {
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          .ref-card {
              background-color: #f0f0f0;
              display: flex;
              flex-flow: column wrap;
              justify-content: center;
              align-items: center;
              border-radius: 10%;
              padding: 15px;
              margin: 15px;
            }
        }
      
      }
      
}