@import "../../styles/constants";

.tags-container {
    display: flex;
    flex-flow: wrap;
    margin: 0.5rem 0;

    .dropdown {
      width: 400px;
      color: $fee-main-font;

      .tag {
      padding: 4px 12px 4px 0;
      }
  }

  .tag {
      color: $fee-tag-font;
      padding: 4px 12px;
      margin: 2px;
      width: max-content;
      border-radius: 5px;
      background-color: $fee-tag-bg;
      display: flex;
      font-weight: 700;
  }

  .button-discard {
      border: none;
      border-radius: 50%;
      background-color: $fee-tag-bg-night;
      color: $fee-main-font-night;
      font-weight: 700;
      line-height: 1rem;
      width: 1.12rem;
      text-align: center;
      margin-right: 0.5rem;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
  }

  &.night-mode {
    .tag {
      color: $fee-tag-font-night;
      background-color: $fee-tag-bg-night;
    }

    .button-discard {
      background-color: $fee-tag-bg;
      color: $fee-main-font;
    }
  }
}

