@import "../../styles/constants";

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;

  .header-title {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    .titles {
      margin: 0rem 1rem;

      h1 {
        color: $fee-main-font;
        font-size: 3rem;
        margin: 0 0 0.25rem 0;
      }

      p {
        color: $fee-second-font;
        font-size: 1.5rem;
      }
    }

    .blub {
      border-radius: 50%;
      background-image: radial-gradient($fee-acc-light, $fee-cyan);
      width: 3rem;
      height: 3rem;
      display: inline-block;
      box-shadow: 0 0 1rem rgba($fee-cyan, 0.5);
      margin-top: 0.5rem;
    }
  }

  input {
    background-color: transparent;
    color: $fee-main-font;
    width: 20rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 3px;
    border: 1px solid $fee-border;
    padding: 0 1rem;
    transition: all 0.25s;

    &::placeholder {
      color:$fee-main-font;
    }

    &:focus {
      box-shadow: 0 0 1rem rgba($fee-shadow, 0.25);
      outline: none;
    }
  }


  &.night-mode {

  .header-title {
    .titles {
      h1 {
        color: $fee-main-font-night;
      }

      p {
        color: $fee-second-font-night;
      }
    }
  }


    input {
      color: $fee-main-font-night;

      &::placeholder {
        color:$fee-main-font-night;
      }

      &:focus {
        box-shadow: 0 0 1rem rgba($fee-shadow-night, 0.25);
      }
    }
  }
}
