.topics {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.technology-branch {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}